/* Estilo global para eliminar márgenes y rellenos, y establecer la caja de contenido */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /* Fuente global */
}

/* Estilo del cuerpo de la página */
body {
    display: flex; /* Utiliza Flexbox para el diseño */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    justify-content: center; /* Alinea los elementos hijos horizontalmente al centro */
    min-height: 100vh; /* Altura mínima de la ventana gráfica */
    background: linear-gradient(to right,#cb232c,#ce1d61); /* Degradado de fondo */
}

/* Estilo del formulario */
form {
    display: flex; /* Utiliza Flexbox para el diseño */
    flex-direction: column; /* Alinea los elementos hijos en una columna */
    background: #fff; /* Fondo blanco */
    text-align: center; /* Texto centrado */
    padding: 20px 25px; /* Espaciado interno */
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7); /* Sombra del formulario */
}

/* Estilo del título del formulario */
form .tittle {
    color: #252525; /* Color del texto */
    font-size: 35px; /* Tamaño de la fuente */
    font-weight: 800; /* Grosor de la fuente */
    margin-bottom: 30px; /* Espacio inferior */
}

/* Estilo de los elementos de etiqueta del formulario */
form label {
    margin-bottom: 35px; /* Espacio inferior */
}

/* Estilo de los iconos dentro de las etiquetas */
form label .fa-solid {
    font-size: 20px; /* Tamaño de los iconos */
    color: #cb232c; /* Color de los iconos */
    margin-right: 10px; /* Espacio a la derecha */
}

/* Estilo de los campos de entrada dentro de las etiquetas */
form label input {
    outline: none; /* Sin contorno al enfocar */
    border: none; /* Sin borde */
    color: #252525; /* Color del texto */
    border-bottom: solid 1px #ce1d61; /* Borde inferior */
    padding: 0 5px; /* Espaciado interno horizontal */
    font-size: 18px; /* Tamaño de la fuente */
}

/* Estilo de los marcadores de posición en los campos de entrada */
form label input::placeholder {
    color: rgba(37, 37, 37, 0.5); /* Color del marcador de posición */
}

/* Estilo del enlace para recuperar la contraseña */
form .link {
    color: #252525; /* Color del texto */
    margin-bottom: 15px; /* Espacio inferior */
}

/* Estilo del botón de inicio de sesión */
form button {
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    background: linear-gradient(to right,#cb232c,#ce1d61); /* Degradado de fondo */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano */
    font-size: 20px; /* Tamaño de la fuente */
}
