body{
    background: rgb(97,12,195);
    background: linear-gradient(90deg, rgba(97,12,195,1) 15%, rgba(203,205,231,1) 51%, rgba(209,13,172,1) 91%);
    font-family: sans-serif;
    color :white;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;

}
button{
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding:0 20px ;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box; 
}
footer{
    text-align: center;

}
a{
    text-decoration: none;
}