*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
}
.menuPrincipal{
    display: flex;
    flex-direction: column;
}