*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(fondo\ de\ pantalla/360_F_191783282_0TVrx5VrvrkpDHSKdjjI87HkbXJy5TMw.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;/*Descripción: Distribuye los elementos flexibles dentro del contenedor de manera que el primer elemento se alinea con el inicio del contenedor y el último elemento se alinea con el final del contenedor. Los elementos restantes se distribuyen uniformemente, dejando espacios iguales entre ellos.*/
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;    
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition :.3s;
}

.navbar a:hover::before{
    width: 100%;
}