*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    /* cuando usamos flex, todos los hijos tienden a tener la misma altura por lo tanto hayq ue corregir eso usando la siguente line asi quedan centrados verticalmente */
    align-items: center;
    justify-content: space-between;/*para que el logo quede bien a la izq y el nav bien a la derecha*/
    padding: 2rem;
    background-color: #ececec;
}
.logo {
    max-width: 5rem;
    margin:0 10px;
}

.nav-list{
    display: flex;
    list-style-type: none;/*para que se salgan las viñetas*/
    gap: 1rem;

}
.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}
.abrir-menu,.cerrar-menu{
    display: none;
}
/* #cerrar{
    display: none;
} */

.parrafo{
    margin: 2rem;
}
@media screen and (max-width: 735px){
    .abrir-menu,.cerrar-menu{
        display: block;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: #ececec;
    }
    /*cuando estemos en uan resolucion menor a 550 px la nav no se va a ver*/
    .nav{
         /* si agregamos esto la navbar desaparece si la quitamos desaparece */
        opacity: 1;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        /* con el gap lo quie hacemos es separar uin poco las etiquetas "a" */
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        /* aca lo que hacemos es crear uns sombra al resto de la pagina y que sobresalga el menu */
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        
     }
     .nav.visible{
        opacity: 1;
        visibility: visible;
     }
     .nav-list{
        flex-direction: column;
        /* alineamos a la derecha */
        align-items: end;

     }
     .nav-list li a {
        color: #ececec;
     }
}