*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(fondo-pantalla.avif);/*fcolor de fondo*/
    background-color: rgba(0, 0, 0, .1);
    background-size: cover; /* Hace que la imagen cubra todo el área del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita como mosaico */

}

.wrapper{
    width: 320px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px); /*le da el efecto de difuminado o algo asi*/
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper .log{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .log i{
    font-size: 200%;/*esto hace que el icono de la palabra login se haga mas grande*/
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#fff;

}
.input-box i{
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 20px; 
}
.wrapper .rebember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.rebember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.rebember-forgot a {
    color: #fff;
    text-decoration: none;
}
.rebember-forgot a:hover{
    text-decoration: underline;/*cuando paso el mouse se le marca la linea abajo*/
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}