/* Elimina los márgenes del body y desactiva el scroll */
body {
    margin: 0;
    overflow: hidden;
}

/* Asegura que el canvas ocupe toda la pantalla y tenga un fondo negro */
canvas {
    display: block;
    background: black;
}
