@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Exo 2", sans-serif;
    min-height: 100vh;
    background-color: white;
    box-sizing: border-box;

}
.bx-menu{
    width: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}
.navigation ul{
    list-style: none;

}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all.2s ease;
}

.header .navigation ul li a:hover{
    background-color: #685cfe;

}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;

}
.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;

}
.header .navigation ul li ul li {
    width: 100%;

}

.header .navigation ul li:hover > ul{
    display: initial;

}


#toggle,.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35;

}
@media(max-width:950px){
    .header{
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;

    }
    .header .navigation ul li{
        width: 100%;
    }
    .header .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }
    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);

    }
    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;

    }
    @toggle:checked ~ .navigation{
        display:block;
    }
}


.hero{
    min-height: 100vh;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}