<title> Arkanoid en js</title>
<style>
    body{
        background-color: #111;
    }
    canvas{
        border: 4px solid #fff;
        border-bottom: transparent;
        background: #000;
        margin: 0 auto;
        display: block;
    }
</style>
<canvas>
</canvas>

<script>
    const canvas = document.querySelector("canvas");
    const ctx = canvas.getContext("2d"); // 2d rendering context
    canvas.width= 448 ;
    canvas.height = 400 ;
    // variables de nuestro juego 
    let counter = 0;
    // variables de la pelota 
    const ballRadius = 4 ; 
    let x = canvas.width / 2;
    let y = canvas.height -30;
    // velocidad de la pelota 
    let dx = 2 ;
    let dy = -2 ;
    function drawball(){
        ctx.beginPath(); // comenzamos a dibujar 
        ctx.arc(x,y,ballRadius,0 ,Math.PI * 2 );
        ctx.fillStyle = "#fff";
        ctx.fill(); // con esto "rellenamos" la pelota
        ctx.closePath();
    }
    function drawPaddle(){}
    function drawBricks(){}
    function collisionDetection(){  }
    function ballMovement(){
        // rebotar en los laterales
        if(x + dx > canvas.width - ballRadius){
            dx = -dx;
        }
        if(x+dx < ballRadius){
            dx = -dx;
        }
        // si rebota en la parte de arriba 
        if(y +dy < ballRadius){
            dy = -dy;
        }
        if(y +dy > canvas.height - ballRadius){
            console.log("game over")
            document.location.reload();
        }
        x += dx;
        y += dy;
    }
    function paddleMovement(){}
    function cleanCanvas(){
        ctx.clearRect(0,0,canvas.width,canvas.height) ;//vamos a limpiar el canvas y vamos a poner que es lo que queremos que se limpie  
    }
    function draw(){
        cleanCanvas();
        // hay qu edibujar los elementos
        drawball();
        drawPaddle();
        drawBricks();
        //  colisiones y movimientos
        collisionDetection();
        ballMovement();
        paddleMovement();
        window.requestAnimationFrame(draw); // esta funcion se ejecuta la funcion "draw" antes de cada "repintado" de la pantalla (la mayoria de los casos 60hz)
    }
    draw();
</script>