*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border: 1px solid red;

}
nav{
    display: flex;
    justify-content: end;
    padding :30px 20px;
    border: 1px solid green;
}
.contenedor_de_buscador{
    border-bottom: 2px solid #270e99;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}
.buscador{
    border: none;
    flex: 1;
    padding: 5px;
}
.bx-search{
    font-size: 1.5em;
    color: #333;
}
/* agrando el placeholder */
.buscador::placeholder{
    font-size: 0.9rem;
    color: #333;
}


nav a{
    padding-left: 30px;
}
main{
    padding: 2rem;
    border: 1px solid black;
}
.prueba1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.caja1{
    width: 100%;
    height: 200px;
    background-color: #b38888;
    display: flex;
    /* Centra horizontalmente */
    justify-content: center; 
    /* Centra verticalmente */
    align-items: center;
    /*Asegura que el texto esté centrado */
    text-align: center;
}
.boton{
    border: none;
    font-size: 20px;
    width: 50%;
    /* aca podemos centrar horizontalmente usando margin auto  */
    margin: auto; 
    color: #fff;
    background-color: #1b1b1b;

}
.boton:hover{
    color: #1b1b1b;
    background-color: #fff;
    scale: 1.2;
}

